/* http://stackoverflow.com/questions/10336194/twitter-bootstrap-top-nav-bar-blocking-top-content-of-the-page */
body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.form-error {
  color: red;
}

.date-stamp {
  color: #BBB;
  padding-top: 20px;
}

.content-body {
  padding-top: 20px;
  padding-bottom: 20px;
}
