{% extends "base.html" %}

{% block content %}
<h4>Edit <em>{{title}}</em></h4>
<form method="post" class="form-horizontal" role="form">
    <div class="form-group">
            {% if page %}
            <textarea name="content" class="form-control" rows="10">{{page.content}}</textarea>
            {% else %}
            <textarea name="content" class="form-control" rows="10"></textarea>
            {% endif %}


      <div class="error">{{error}}</div>
  </div>
    <input type="submit" class="btn btn-default">
</form>
{% endblock %}
