        <tr>
            <td>{{p.created.strftime("%b %d, %Y - %H:%M:%S")}}</td>
            <td>{{p._render_text}}</td>
            <td><a href="/{{p.title}}?revision={{p.revision}}">view</td>
            <td><a href="/_edit/{{p.title}}?revision={{p.revision}}">edit</td>
        </tr>
