{% extends "base.html" %}

{% block content %}
<h2>Page history for <em>{{ title }}</em> </h2>
  <table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Content</th>
            <th>View</th>
            <th>Edit</th>
        </tr>
    </thead>
  {% for p in pages %}
    {{ p.render_abridged_page() | safe }}
  {% endfor %}
  </table>
{% endblock %}
