{% extends "base.html" %}

{% block content %}

<h2>Login</h2>

<form role="form" method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username"  name="username" >
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  {%- if error -%}
  <div class="form-error">
    {{error}}
  </div>
  {%- endif -%}
  <button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock %}
