{% extends "base.html" %}

{% block content %}
    
<h2>Signup</h2>

<form role="form" method="post">
  <div class="form-group">
{%- if error_username -%}
    <label for="username">Username - <span class="form-error">{{error_username}}</span></label>
{%- else -%}
    <label for="username">Username</label>
{%- endif -%}
    <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" value="{{username}}">
  </div>
  <div class="form-group">
{%- if error_password -%}
    <label for="password">Password - <span class="form-error">{{error_password}}</span></label>
{%- else -%}
    <label for="password">Password</label>
{%- endif -%}
    <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
  </div>
  <div class="form-group">
{%- if error_verify -%}
    <label for="verify">Verify Password - <span class="form-error">{{error_verify}}</span></label>
{%- else -%}
    <label for="verify">Verify Password</label>
{%- endif -%}
    <input type="password" class="form-control" id="verify" placeholder="Verify password" name="verify">
  </div>
  <div class="form-group">
{%- if error_email -%}
    <label for="email">Email address (optional) - <span class="form-error">{{error_email}}</span></label>
{%- else -%}
    <label for="email">Email address (optional)</label>
{%- endif -%}
    <input type="text" class="form-control" id="email" placeholder="optional email" name="email" value="{{email}}">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock %}
