{% extends "base.html" %}

{% block content %}
    <h1><em>{{page.title}}</em></h1>
    <div class="content-header">
        <a href="/_edit/{{page.title}}?revision={{page.revision}}">edit</a> | <a href="/_history/{{page.title}}">history</a> 
    </div>

    <div class="content-body">
    {{ page.content | escape_html }}
    </div>

    <div class="date-stamp">Last edited on {{page.created.strftime("%b %d, %Y - %H:%M:%S")}}</div>
{% endblock %}
